<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../assets/css/style.css"> -->
    <title>Document</title>
</head>

<body>
    <aside class="sidebar">
        <h2 class="logo">Stockify</h2>
        <nav>
            <ul>
                <li>
                    <a href="/pages/user/dashboard.html">Dashboard</a>
                </li>

                <li>
                    <a href="/pages/user/products.html">Products</a>
                </li>

                <li>
                    <a href="/pages/user/inventory.html">Inventory</a>
                </li>

                <li>
                    <a href="/pages/user/orders.html">Orders</a>
                </li>

                <li>
                    <a href="/pages/user/invoices.html">Invoices</a>
                </li>

                <li class="logout">
                    <a href="#" onclick="logout()">Logout</a>
                </li>
            </ul>
        </nav>
    </aside>
</body>
</html>